.filters {
    padding: 2rem 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.filters > select {
    padding: 0.7rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: white;
    color: #7f8fa6;
}

@media (max-width:660px){
    .filters > select {
        width: 28%;
        padding: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        text-align: center;
    }

}

@media ( max-width: 430px ){
    .filters > select {
        /* padding: 0.7rem 1rem; */
        width: 30%;
        padding: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        margin: 0 0.3rem;
        font-size: 0.8rem;
    }


}