.container-window-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden; /* Evita scroll si la imagen es muy grande */
 
}

.arrow-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6; /* Por encima de la imagen */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-wrapper.left {
  left: 2rem; /* Distancia fija al borde izquierdo de la pantalla */
}

.arrow-wrapper.right {
  right: 2rem; /* Distancia fija al borde derecho de la pantalla */
}

/* Imagen dentro del contenedor */
.open-photo-model {
  max-width: 80vw;
  max-height: 95vh;
  object-fit: contain;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease; /* Opcional: suaviza el zoom */
  margin: 0;
  mask-image: radial-gradient(circle, black 75%, transparent 100%);
}

@media ( max-width: 768px){
  .arrow-wrapper.left { left: 0.5rem; }
  .arrow-wrapper.right { right: 0.5rem; }
  .open-photo-model { max-width: 90vw; }

}


@media ( max-width: 430px){
  .open-photo-model {
    height: 70vh;
    object-fit: contain;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

}
