.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    @media ( width <= 768px ) {
        justify-content: flex-start;
    }
}

.header-sub-title {
    color: #7a5cfa; 
    margin: 0;
}

.header-icon {
    width: 35px; 
    height: 35px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

