.footer {
  background-color: transparent;
  /* color: black; */
  color: #7f8fa6;
  margin-top: 1rem;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
}

/* ======================
   TOP SECTION (BENEFICIOS)
   ====================== */
.footer-top {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-credibility {
  display: flex;
  width: 100%;
}

.footer-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 7.5rem;
}

.footer-feature > p{
  text-align: center;
}

.icon-footer {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #27ae60;
}

.container-stories-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.stories-wrapper {
  position: relative;
  display: flex;
  width: 97%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  
}

.clients-text {
  color: #7a5cfa; 
  font-size: clamp(1.3rem, 3vw, 3rem);
  text-align: center;
}

.arrow {
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 22px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 6;
}

.arrow.left { margin-right: 6px; }
.arrow.right { margin-left: 6px; }


.footer-clients {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.footer-clients::-webkit-scrollbar {
  display: none;
}

.container-photo-stories {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 500ms;
  cursor: pointer;

  will-change: transform;
}
.container-photo-stories:hover {
  transform: scale(1.1);
}
.photo-stories {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

/* ======================
   MAIN SECTION
   ====================== */
.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.footer-brand h2 {
  margin-bottom: 0.5rem;
  color: #7a5cfa; 
}

.footer-brand > h4 {
  color: #7f8fa6;
  font-weight: 500;
  margin-bottom: 1rem;

}

.footer-brand p {
  margin: 0.3rem 0;
  color: #7a5cfa;
}

.footer-brand > p > a {
  text-decoration: none;
  color: #7f8fa6;
}

.footer-brand > p:hover a {
    color: #7a5cfa;
}

.footer-links h3 {
  margin-bottom: 0.5rem;
  color: #7a5cfa;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 0.3rem 0;
}

.footer-links a {
  color: #7f8fa6;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.footer-links a:hover {
  color: #7a5cfa;
}

/* ======================
   BOTTOM SECTION
   ====================== */
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  background-color: #4444;
  color: #7f8fa6;
  padding: 1rem;
}

/* ======================
   RESPONSIVE
   ====================== */

/* Tablets */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    margin-top: 1rem;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .footer-top {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-feature {
    max-width: 100%;
  }

  .footer-main {
    gap: 2rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
