.footer {
  background-color: transparent;
  /* color: black; */
  color: #7f8fa6;
  margin-top: 1rem;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
}

/* ======================
   TOP SECTION (BENEFICIOS)
   ====================== */
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 7.5rem;
}

.footer-feature > p{
  text-align: center;
}

.icon-footer {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #27ae60;
}

/* ======================
   MAIN SECTION
   ====================== */
.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
}

.footer-brand h2 {
  margin-bottom: 0.5rem;
  color: #7a5cfa; 
}

.footer-brand > h4 {
  color: #7f8fa6;
  font-weight: 500;
  margin-bottom: 1rem;

}

.footer-brand p {
  margin: 0.3rem 0;
  /* color: rgb(77, 77, 77); */
  /* color: #7f8fa6; */
  /* color: black; */
  color: #7a5cfa;
}

.footer-brand > p > a {
  text-decoration: none;
  color: #7f8fa6;
}

.footer-brand > p:hover a {
    color: #7a5cfa;
}

.footer-links h3 {
  margin-bottom: 0.5rem;
  color: #7a5cfa;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 0.3rem 0;
}

.footer-links a {
  color: #7f8fa6;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.footer-links a:hover {
  color: #7a5cfa;
}

/* ======================
   BOTTOM SECTION
   ====================== */
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  background-color: #4444;
  color: #7f8fa6;
  padding: 1rem;
}

/* ======================
   RESPONSIVE
   ====================== */

/* Tablets */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    margin-top: 1rem;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .footer-top {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-feature {
    max-width: 100%;
  }

  .footer-main {
    gap: 2rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
