.cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #000000d2;
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    animation: fadeIn 0.4s ease-in-out;
}

.cookie-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.cookie-banner-content p {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.cookie-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
}

.cookie-buttons {
    display: flex;
    gap: 10px;
}

.btn-cookie-accept {
    background: #28a745;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-cookie-reject {
    background: #f4f4f4;
    color: #666;
    border: 1px solid #ddd;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cookie-accept:hover {
    background: #218838;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000; /* Mayor que el banner */
}

.modal-content {
    background: #fff;
    border-radius: 12px;
    max-width: 800px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.close-terms-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 1rem;
    border: 1px solid #eee;
    padding: 0.3rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-accept {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px) scale(0.95); }
    to { opacity: 1; transform: translateY(0) scale(1); }
}

@media ( max-width: 768px) {
    
    .modal-content {
        width: 80%;
    }

}