* {
    font-family: 'Saira', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
}

